@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-v26-latin-regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Architects";
  src: url("../fonts/ArchitectsDaughter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Agrandir";
  src: url("../fonts/agrandir-grand.ttf");
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

/* Variables de color */
:root {
  --primary-color: #333333; /* Negro */
  /* --secondary-color: #ffd5a4; Peach claro */
  --secondary-color: #f0ac75; /* Peach claro */
  --accent-color: #c8906a; /* Marrón */
  --background-color: #ffffff; /* Blanco */
  --text-color: #3b3b3b; /* Negro */
  --light-text-color: #f8eeec; /* Beige mas claro */
  --highlight-color: #ffbe98; /* Peach */
  --card-background: #f8f1ec; /* Beige claro */
  --border-color: #dadada; /* Gris claro */
  --hover-color: #a4ae9c; /* Verde grisáceo */
}

*,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--card-background);
}

html::-webkit-scrollbar {
  width: 12px;
  background-color: var(--background-color);
}

html::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--primary-color);
}

/* Estilo base del cuerpo */
body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: var(--primary-color);
  background-color: var(--background-color);
  scrollbar-color: var(--highlight-color);
}

/* Estilo del encabezado */
header {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

header img {
  width: 100%;
  height: auto;
  display: block;
}

section {
  width: 100%;
  padding: 20px;
  text-align: left;
}

h1 {
  font-family: "Agrandir", "Montserrat";
  font-size: 2.1rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  text-wrap: balance;
}
h2 {
  font-family: "Architects", "Montserrat";
  font-size: 1.8rem;
  color: var(--secondary-color);
  margin-top: -0.6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-wrap: balance;
  font-weight: normal;
}

.titulos {
  display: block;
  margin: 3rem 0;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Agrandir";
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 0.15rem;
  unicode-bidi: isolate;
}
